
<div class="dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#"  data-bs-toggle="dropdown" aria-expanded="false">
        Admin Menu
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-controller="Admin" asp-action="ListCustomers">Hantera Kunder</a></li>
        <li><a class="dropdown-item" asp-controller="Admin" asp-action="ListBooks">Hantera Böcker</a></li>
    </ul>
</div>