@model Book
@{
        string bookTitle = Model.BookTitle.ToLower().Replace(" ", "-").Replace(":", "") + ".jpg";
    }

    <div class="card m-1" style="width: 13rem;">
        <img class="card-img-top img-thumbnail" src="@Model.ImageURL" alt="Image of book" style="height: 60%;" />
        <div class="card-body">
            <a asp-controller="Book" asp-action="BookPage" asp-route-bookId="@Model.BookId">
                <h3 class="card-title text-decoration-underline">@Model.BookTitle</h3>
            </a>
            <p class="card-text">@Model.BookAuthor</p>            
        </div>
    </div>
