@model Customer

<div class="card">
    <div class="card-header">
       <h4>Lånade böcker</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Bok</th>
                    <th scope="col">Författare</th>
                    <th scope="col">Lånad</th>
                    <th scope="col">Status</th>
                </tr> 
            </thead>
            <tbody>
                @foreach (var bookLoan in Model.BookLoans)
                {
                    <tr>
                        <td>@bookLoan.BookItem.Book.BookTitle</td>
                        <td>@bookLoan.BookItem.Book.BookAuthor</td>
                        <td>@bookLoan.LoanDate</td>
                        <td>@if(bookLoan.ReturnDate > DateTime.Parse("1900-01-01"))
                            {
                                <span class="badge bg-success">Återlämnad</span>
                            }
                            else if (bookLoan.DueDate < DateTime.Now)
                            {
                                <span class="badge bg-danger">Försenad</span>
                            }
                            else 
                            { 
                                <span class="badge bg-info">Ej Återlämnad</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>