@using Microsoft.AspNetCore.Identity
@using Labb1_MVCRazor.Services;

@inject SignInManager<ApplicationUser> SignInManager;
@inject ApplicationUserManager UserManager;

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row ">
        <div class="col-lg-10 offset-sm-1">
            <img src="~/Images/libraryJumbotron.jpeg" width="100%" alt="Picture of books" />
        </div>
    </div>
    <div class="row pt-3">
        <div class="text-center welcome-text">
            <h3>Välkommen till <span class="logo">BIBLIOTEKET</span>!</h3>
            @if (SignInManager.IsSignedIn(User))
            {
                <p>Hej @UserManager.GetUserFullName(UserManager.GetUserId(User)) klicka in på <a class="bookLink" asp-controller="Book" asp-action="ListBooks">böcker</a> för att börja låna!</p>
            }
            else
            {
                <p>Börja med att logga in eller registrera dig för att låna böcker.</p>
            }
        </div>
    </div>
</div>